<div flex layout="column" class="ef-drop-box" html5-drop on-drop="onDrop()"
on-drag-enter="onDragEnter()" on-drag-leave="onDragLeave()"
md-whiteframe="3" md-colors="{background: 'accent-{{shade}}'}"  ng-hide="items[0].image_url" layout-align="center center">
	<md-button ng-class="selectService.drop_button_class" ng-click="drop()">
		Drop
	</md-button>
</div>
<div flex layout="column" class="drop-box" ng-show="items[0].image_url"><img ng-src={{items[0].image_url}} class="md-card-image cover" style="width: 100%;height: 100%"></div>

<!--
<div class="md-button" ngf-select="upload($file)">
Upload on file select
</div>
<div class="md-button" ngf-select="uploadFiles($files)" multiple="multiple">
Upload on file select
</div>

Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
Audio preview: <audio controls ngf-src="file"></audio>
Video preview: <video controls ngf-src="file"></video> -->